/*TODO
-Rolldrop menu --amma die--
-Video
-Gallery ---- LUCIA ----

*/
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&family=Outfit:wght@200;400&family=Quicksand&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

header>span {
  position: absolute;
  right: 45px;
  padding: 8px;
}

header>img {
  width: 40px;
  left: 45px;
  padding: 15px 8px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  right: 45px;
  font-size: 60px;
}

/*
 WE ARE NOT USING THIS DROP down MENU
.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}*/

.sticky-socials {
  position: fixed;
  right: 0.5rem;
  top: 15%;
  background-color: rgba(255, 253, 208, 0.6);
  border-radius: 8px 0 0 8px;
}

.sticky-socials a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
}

.backgroundvideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -5;
}

.videotittle {
  color: #FEE9D9;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  margin-top: -175px;
  margin-right: 5px;
  margin-left: 1px;
}

.best-info {
  padding: 10px 30px;
}

p {
  font-family: 'Quicksand', sans-serif;
  color: #004179;
}

.weirdtittle {
  margin-top: 50px;
}

.image-tea {
  background-color: rgba(203, 65, 84, 0.2);
  padding-bottom: 2rem;
}

.image-tea>img {
  border-radius: 100%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-tea>.pink {
  background-color: rgba(203, 65, 84, 0.2);
  color: #CB4154;
}

.image-tea>.episode {
  margin: 0 100px;
  justify-content: center;
  display: grid;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 8px;

}

h3 {
  font-family: 'Bodoni Moda', sans-serif;
  color: #CB4154;
  font-size: 1.8rem;
  text-align: center;
}

.info-pec {
  padding: 1rem 2rem;
}

.info-pec>div .pink {
  color: #CB4154;
}

.info-pec>div .orange {
  color: #FE9849;
}

.info-pec>div .light-pink {
  color: #E08D98;
}

.info-pec p {
  color: #004179;
}

.socials>h5 {
  font-size: 20px;
  font-family: 'Bodoni Moda', sans-serif;
  color: #E08D98;
  text-align: center;
  grid-row: 1;
  grid-column: 1/6;
}

.socials>a>img {
  width: 100%;
  grid-row: 2;
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*lucy's experiments */
.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  border-radius: 7px;
}

.slide [data-active] {
  opacity: 1;
}

.carousel-btn {
position: absolute;
z-index: 2;
background: none;
border: none;
font-size: 3.5rem;
margin-top: 500px;
margin-left: 50px;
color: rgba(0, 65, 121,0.6);
border: pointer;
cursor: pointer;
}

.carousel-btn.prev{
  left: 30vw;
}

.carousel-btn.next {
  right: 40vw;
}

