@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,700&family=Outfit:wght@200;400&family=Quicksand&display=swap');

body {
    background-color: white;

}

.podcast-info > h3 {
    font-family: 'Bodoni Moda' , sans-serif;
    font-size: 24px;
    color: #CB4154;
    text-align: center;
}
.podcast-info > img {
    width: 100%;
}
.podcast-info > h2{
    font-family: 'Bodoni Moda', sans-serif;
  color: #CB4154;
  font-size: 1.8rem;
  text-align: center;
}
.podcast-info > p {
    color: #004179;
    margin: 5px 20px;
    font-size: 1.1rem;
}
.podcast-info > button {
    border: none;
    border-bottom: solid #004179 1px;
    color: #004179;
    background-color: white;
    margin: 5px 20px;
}

.podcast-info > .episode {
    margin: 20px;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 8px;
}
.podcast-info >  .orange {
    background-color: rgba(254, 152, 73, 0.2);
    color: #FE9849;
}
.podcast-info > .pink {
    background-color: rgba(203, 65, 84, 0.2);
    color: #CB4154;
}

section {
    position: sticky;
    top: 0px;
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
    
}

main {
    padding: 10px 2px;
}

#video {
    width: 100%;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    align-items: center;
    border: 1px solid white;
    border-radius: 8px;
    margin: 0;
    justify-items: center;
}

article:hover {
    border: 2px solid #f99;
}

.thumb {
    height: 80px;
    border-radius: 2px;
}

.detail {
    padding: 25px 22px;
}

p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    color: #CB4154;
}

h4 {
    padding: 0;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
    font-size: 20px;
    color: #CB4154;

}

.item button {
    padding: 1rem 2rem;
    color: #eee;
    background-color: #CB4154;
    border: none;
    border-radius: 12px;
}

.item div {
    margin: 2rem;
}

